---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta property="og:image" content="images/evolution.png" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  {% assign BODY_CLASS = page.path | split:'.' | first %}
  <body class="{{ BODY_CLASS }}">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">

            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span class='logo-conv'>Conv</span>ersational
            <span class='logo-dev'>Dev</span>elopment</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li {% if BODY_CLASS == 'index' %}class="active"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li {% if BODY_CLASS == 'principles' %}class="active"{% endif %}>
              <a href="/principles">Principles</a>
            </li>
            <li {% if BODY_CLASS == 'blog' %}class="active"{% endif %}>
              <a href="/blog">Blog</a>
            </li>
            <li {% if BODY_CLASS == 'contribute' %}class="active"{% endif %}>
              <a href="https://gitlab.com/gitlab-com/conversationaldevelopment-com/blob/master/CONTRIBUTING.md">Contribute</a>
            </li>
            <li>
              <a href="mailto:community@gitlab.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="row">

      {{ page.hide_sidebar }}

        {% if page.sidebar %}
        <div class="main col-md-8">
        {% else %}
        <div class="main col-md-12">
        {% endif %}
        {{ content }}
        </div>

        {% if page.sidebar %}
        <div class="sidebar col-md-4">

          <div class="section subscribe">
            <h2>Subscribe</h2>

            <!-- social -->
            <p>
              <a href="https://twitter.com/convdevio" target="_blank">
                <img class="twitter" src="/images/logo-twitter.svg" alt="Twitter">
                </a>
              <a href="https://www.facebook.com/convdevio" target="_blank">
                <img src="/images/logo-facebook.svg" alt="Facebook">
              </a>
              <a href="https://www.linkedin.com/company/convdevio" target="_blank">
                <img src="/images/logo-linkedin.svg" alt="linkedin">
              </a>
              <a href="/feed.xml">
                <img class="rss" src="/images/logo-rss.svg">
              </a>
            </p>

            <!-- mailchimp -->
            <div id="mc_embed_signup">
              <form action="//conversationaldevelopment.us15.list-manage.com/subscribe/post?u=51322ba5d2fcb065b9ef6ce33&amp;id=efc70875fd"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div class="form-group">
                  <label for="mce-EMAIL">Newsletter</label>
                  <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
                </div>

                <!-- do not remove stuff below this line -->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_51322ba5d2fcb065b9ef6ce33_efc70875fd" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                </div>
              </form>
            </div>
          </div>

          <div class="section categories">
            <h2>Categories</h2>

            <ul class="tag-box inline">
            {% assign tags_list = site.categories %}
              {% if tags_list.first[0] == null %}
                {% for tag in tags_list %}
                  <li><a href="/blog#{{ tag }}">{{ tag | capitalize }} <span>({{ site.tags[tag].size }})</span></a></li>
                {% endfor %}
              {% else %}
                {% for tag in tags_list %}
                  <li><a href="/blog#{{ tag[0] }}">{{ tag[0] | capitalize }} <span>({{ tag[1].size }})</span></a></li>
                {% endfor %}
              {% endif %}
            {% assign tags_list = nil %}
            </ul>
          </div>

          <div class="section recent">
            <h2>Recent Articles</h2>

            <ul>
            {% for post in site.posts limit: 5%}
              <li>
                <a href="{{ post.url }}">
                  <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
                  <span class="title">{{ post.title }}</span>
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

        </div>
      </div>
    </div>

    <footer class='footer'>
      <div class="container">
        <p>
        Look for
        <a href='https://twitter.com/search?q=%23convdev'>#ConvDev</a>
        on Twitter
        </p>

        <p>
          This page is generated from a
          <a href='https://gitlab.com/gitlab-com/conversationaldevelopment-com'>public repo on GitLab.com</a>
          — merge requests with improvements are
          <a href='https://gitlab.com/gitlab-com/conversationaldevelopment-com/merge_requests'>very welcome.</a>
        </p>
      </div>
    </footer>

    <!-- addthis -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f8c9a6bd96a788"></script>

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90661324-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
